@media screen and(max-width:900px) {
	.Card-pelicula {
		width: 220px !important;
		height: 340px !important;
		.imagen-pelicula {
			height: 250px !important;
		}
	}
}
@media screen and(max-width:500px) {
	.container {
		.Card-pelicula {
			width: 160px !important;
			height: 280px !important;
			.imagen-pelicula {
				height: 200px !important;
			}
			h6 {
				font-size: 16px;
			}
		}
	}
}
