@import "config";
.slick-slider {
	width: 95%;
	margin: auto;
	.slick-prev:before,
	.slick-next:before {
		color: $violeta-claro;
	}
  .slick-dots li button:before{
    color: $violeta-claro;
  }
}

@media screen and(max-width:500px) {
  .container-carruselDos {
		width: 90% !important;
	}
	.card-carruselDos {
		height: 450px !important;
	}
	.slick-track{
		height: 500px !important;
	}
}