@import "config";

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-error {
	height: 100vh;
	@include flex-center();
	flex-direction: column;
	background-color: $oscuro;
	padding: 15px;
	color: $claro;
	img {
		width: 400px;
		height: 400px;
		border-radius: 40%;
	}
	h1 {
		font-size: 45px;
		margin: 20px;
	}
	button {
		width: 70px;
		height: 40px;
		background-color: $btn-error;
		border: transparent;
		border-radius: 5px;
		font-weight: bold;
		color: $claro;
		margin: 20px;
	}
}
@media screen and(max-width:500px) {
	.card-error {
		@include flex-center();
		flex-direction: column;
		background-color: $oscuro;
		padding: 10px;
		color: $claro;
		img {
			width: 200px;
			height: 200px;
			border-radius: 40%;
		}
		h1 {
			font-size: 20px;
			margin: 20px;
		}
	}
}
