@import "Error";

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}
.home {
	display: flex;
	flex-direction: column;
	position: relative;
}
.seccion-busqueda {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.buscador {
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
}

.video {
	background-color: black;
	width: 100%;
	height: 100vh;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
	position: absolute;
	overflow-y: scroll;
	.btn-cerrar {
		position: relative;
		border: transparent;
		border-radius: 15px;
		left: 1300px;
		bottom: 400px;
	}
	iframe {
		width: 80%;
		height: 80%;
		margin: 15px 0 15px 0;
	}
}

.section-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.detalle-img {
	width: 400px !important;
	height: 600px;
}
.detalle-info {
	width: 600px;
}

@media screen and(max-width:900px) {
	.detalle-img {
		width: 300px !important;
		height: 400px;
	}
	.detalle-info {
		width: 500px;
	}
	.detalle-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.video {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		.btn-cerrar {
			position: relative;
			border: transparent;
			border-radius: 15px;
			left: 1300px;
			bottom: 400px;

			//VER
		}
		iframe {
			width: 80%;
			height: 50%;
			margin: 15px 0 15px 0;
		}
	}
}

@media screen and(max-width:500px) {
	.detalle-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.video {
		width: 100%;
		overflow: hidden;
		.btn-cerrar {
			position: relative;
			border: transparent;
			border-radius: 15px;
			left: 1300px;
			bottom: 400px;
			//VER
		}
		iframe {
			width: 90%;
			height: 30%;
			margin: 15px 0 15px 0;
		}
	}
}
