@import "Error";

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}
.home {
	display: flex;
	flex-direction: column;
	position: relative;
}
.seccion-busqueda {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.buscador {
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
}
