.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
.home {
	display: flex;
	flex-direction: column;
	position: relative;
}

.buscador{
	background-color: aliceblue;
}