@import "./components/Peliculas";
@import "./components/Error";
@import "./components/config";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.modo-oscuro {
	background-color: $oscuro;
	color: $claro;
}

.modo-claro {
	background-color: $claro;
	color: $oscuro;
}
a {
	text-decoration: none !important;
}
